<app-disciplina></app-disciplina>

<br>  

<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Disciplinas</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>NOME</th>
            <th>DESCRIÇÃO</th>
            <th>CARGA HORÁRIA</th>
            <th>AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let disciplina of disciplinas" class="text-center" >

            <td *ngIf="disciplina.ativa == 1" style="color: green;" >{{ disciplina.nome }}</td>

            <td *ngIf="disciplina.ativa == 0" style="color: red;" >{{ disciplina.nome }}</td>
            
            <td>{{ disciplina.descricao }}</td>
            <td>{{ disciplina.cargaHoraria }}</td>
            <td>
              <button *ngIf="disciplina.ativa == 1" (click)="Matricular(disciplina)" type="button" class="btn btn-outline-success">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button>

              <button *ngIf="disciplina.ativa == 0" [disabled]="disciplina.ativa == 0" type="button" class="btn btn-outline-danger">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button>

              <button (click)="Editar(disciplina)" type="button" class="btn btn-outline-info">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
              <button (click)="Delete(disciplina)" type="button" class="btn btn-outline-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>