<app-disciplina></app-disciplina>

<br>

<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Editar Disciplina</h3>
    </div>
    <div class="card-body">
      <form action="">

        <div class="form-group">
          <label for="">Nome</label>
          <input id="name" name="name" type="text" class="form-control"
          placeholder="Nome Completo" required maxlength="50" #name="ngModel"
          [(ngModel)]="disciplina.nome" [ngModelOptions]="{standalone: true}">
        
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        
            <div *ngIf="name.errors.required">
              Nome é obrigatório
            </div>

            <div *ngIf="name.errors.maxlength">
              Nome grande demais
            </div>

          </div>
        </div>

        <div class="form-group">
          <label for="">Descrição</label>
          <input id="descricao" name="descricao" type="text" class="form-control"
          placeholder="Ex: Conteúdos" required maxlength="50" #descricao="ngModel"
          [(ngModel)]="disciplina.descricao" [ngModelOptions]="{standalone: true}">
        
          <div *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)" class="alert alert-danger">
        
            <div *ngIf="descricao.errors.required">
              Descrição é obrigatório
            </div>

            <div *ngIf="descricao.errors.maxlength">
              Descricao grande demais
            </div>

          </div>
        </div>

        <div class="form-group">
          <label for="">Carga Horaria</label>
          <input id="cargaHoraria" name="cargaHoraria" type="number" class="form-control"
          placeholder="Ex: 60" required #cargaHoraria="ngModel"
          [(ngModel)]="disciplina.cargaHoraria" [ngModelOptions]="{standalone: true}">
        
          <div *ngIf="cargaHoraria.invalid && (cargaHoraria.dirty || cargaHoraria.touched)"
          class="alert alert-danger">
        
            <div *ngIf="cargaHoraria.errors.required">
              Carga Horaria é obrigatório
            </div>

          </div>
        </div> 

        <div class="form-group">
            <label for="">Ativa (1 para Sim ou 0 para Não)</label>
            <input id="ativa" name="ativa" type="number" class="form-control"
            placeholder="Ex: 1" required #ativa="ngModel" min="0" max="1"
            [(ngModel)]="disciplina.ativa" [ngModelOptions]="{standalone: true}">
        
          <div *ngIf="ativa.invalid && (ativa.dirty || ativa.touched)"
          class="alert alert-danger">
        
            <div *ngIf="ativa.errors.required">
              Ativa é obrigatório
            </div>
          </div>

          <div *ngIf="disciplina.ativa > 1 || disciplina.ativa < 0" class="alert alert-danger">
            Campo precisa ser 1 ou 0
          </div>

        </div> 

        <div class="form-group">
            <label for="">Matricula do Professor</label>
            <input id="idProfessor" name="idProfessor" type="text" class="form-control"
            placeholder="Ex: 000000" required minlength="6" maxlength="6" #idProfessor="ngModel"
            [(ngModel)]="disciplina.idProfessor" [ngModelOptions]="{standalone: true}">
        
            <div *ngIf="idProfessor.invalid && (idProfessor.dirty || idProfessor.touched)"
            class="alert alert-danger">
        
            <div *ngIf="idProfessor.errors.required">
              Matricula é obrigatório
            </div>

            <div *ngIf="(idProfessor.errors.maxlength || idProfessor.errors.minlength)">
              Necessario 6 números
            </div>

          </div>
        </div>

        <button (click)="Atualizar(disciplina)" class="btn btn-outline-warning">Atualizar</button>

      </form>
    </div>
  </div>
</div>