<app-aluno></app-aluno>

<br>

<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Cadastrar Aluno</h3>
    </div>

    <div class="card-body">
      <form action="">

        <div class="form-group">
          <label for="">Nome Completo</label>
          <input id="name" name="name" type="text" class="form-control"
          placeholder="Nome Completo" required maxlength="100" #name="ngModel"
          [(ngModel)]="aluno.nome" [ngModelOptions]="{standalone: true}">
        
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        
            <div *ngIf="name.errors.required">
              Nome é obrigatório
            </div>

            <div *ngIf="name.errors.maxlength">
              Nome grande demais
            </div>

          </div>
        </div>

        <div class="form-group">
          <label for="">CPF (Apenas Números)</label>
          <input id="cpf" name="cpf" type="text" class="form-control"
          placeholder="Ex: 00000000000" required minlength="11" maxlength="11" #cpf="ngModel"
          [(ngModel)]="aluno.cpf" [ngModelOptions]="{standalone: true}">
        
          <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)" class="alert alert-danger">
        
            <div *ngIf="cpf.errors.required">
              CPF é obrigatório
            </div>

            <div *ngIf="!cpf.errors.valid">
              CPF invalido
            </div>

            <div *ngIf="(cpf.errors.maxlength || cpf.errors.minlength)">
              Necessario 11 números
            </div>

          </div>
        </div>

        <div class="form-group">
          <label for="">Matricula</label>
          <input id="matricula" name="matricula" type="text" class="form-control"
          placeholder="Ex: 000000" required minlength="6" maxlength="6" #matricula="ngModel"
          [(ngModel)]="aluno.matricula" [ngModelOptions]="{standalone: true}">
        
          <div *ngIf="matricula.invalid && (matricula.dirty || matricula.touched)"
          class="alert alert-danger">
        
            <div *ngIf="matricula.errors.required">
              Matricula é obrigatório
            </div>

            <div *ngIf="(matricula.errors.maxlength || matricula.errors.minlength)">
              Necessario 6 números
            </div>

          </div>
        </div> 
        
        <div class="form-group">
          <label for="">Data Nascimento</label>
          <input id="data" name="data" type="date" data-date="" data-date-format="yyyy-mm-dd" class="form-control"
          required #data="ngModel"
          [(ngModel)]="aluno.dataNascimento" [ngModelOptions]="{standalone: true}">
        
          <div *ngIf="data.invalid && (data.dirty || data.touched)" class="alert alert-danger">
        
            <div *ngIf="data.errors.required">
              Data de Nascimento é obrigatório
            </div>

          </div>
        </div>

        <button (click)="Cadastrar()" class="btn btn-outline-danger">Cadastrar</button>
      
      </form>
    </div>
  </div>
</div>

