<app-disciplina></app-disciplina>

<br>

<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Cadastrar Aluno</h3>
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="">Matricula</label>
            <input id="matricula" name="matricula" type="text" class="form-control"
          placeholder="Ex: 000000" required minlength="6" maxlength="6" #matricula="ngModel"
          [(ngModel)]="aluno.matricula" [ngModelOptions]="{standalone: true}">
        
          <div *ngIf="matricula.invalid && (matricula.dirty || matricula.touched)"
          class="alert alert-danger">
        
            <div *ngIf="matricula.errors.required">
              Matricula é obrigatório
            </div>

            <div *ngIf="(matricula.errors.maxlength || matricula.errors.minlength)">
              Necessario 6 números
            </div>

          </div>
          </div> 
          <button (click)="RealizarMatricula()" class="btn btn-outline-danger">Matricular</button>
        </form>
      </div>
    </div>
  </div>