<app-avaliacao></app-avaliacao>

<br>

<div class="container col-md-6">
    <div class="card">
      <div class="card-header text-center">
        <h3>Nova Avaliação</h3>
      </div>
  
      <div class="card-body">
        <form action="">
  
          <div class="form-group">
            <label for="">Seleciona a Disciplina</label>
            <select id="idDisciplina" name="idDisciplina" class="form-control" [(ngModel)]="avaliacao.idDisciplina">
              <option *ngFor="let disciplina of disciplinas" [value]="disciplina.id">{{ disciplina.nome }}</option>
            </select>  
          </div>

          <div class="form-group">
            <label for="">Seleciona o Aluno</label>
            <select id="idAluno" name="idAluno" class="form-control" [(ngModel)]="avaliacao.idAluno" >
              <option *ngFor="let aluno of alunos" [value]="aluno.id" >{{ aluno.nome }}</option>
            </select>  
          </div>

          <div class="form-group">
            <label for="">Nota</label>
            <input id="nota" name="nota" type="number" class="form-control"
            placeholder="Ex: 0 a 10" required min = 0 max = 10 #nota="ngModel"
            [(ngModel)]="avaliacao.nota" [ngModelOptions]="{standalone: true}">
          
            <div *ngIf="nota.invalid && (nota.dirty || nota.touched)" class="alert alert-danger">
                Campo obrigatório
            </div>

            <div *ngIf="avaliacao.nota > 10 || nota < 0" class="alert alert-danger">
                Minimo 0, Maximo 10
              </div>

          </div>
          
          <div class="form-group">
            <label for="">Data Avaliação</label>
            <input id="data" name="data" type="date" data-date="" data-date-format="yyyy-mm-dd" class="form-control"
            required #data="ngModel"
            [(ngModel)]="avaliacao.dataAplicacao" [ngModelOptions]="{standalone: true}">
          
            <div *ngIf="data.invalid && (data.dirty || data.touched)" class="alert alert-danger">
          
              <div *ngIf="data.errors.required">
                Data da Avaliação é obrigatório
              </div>
  
            </div>
          </div>
  
          <button *ngIf="!atualizar" (click)="Cadastrar()" class="btn btn-outline-danger">Cadastrar</button>
      
        <button *ngIf="atualizar" (click)="Atualizar(avaliacao)" class="btn btn-outline-warning">Atualizar</button>

        </form>
      </div>
    </div>
  </div>
  